#banner {
	height:220px;
}


.items {
	list-style:none;
	overflow:hidden;
	padding: 0 40px;
}
.items li{
	background:#fff;
	margin-bottom:40px;
	padding:20px 10px 0 10px;
	border-radius: 5px;
	border: solid 1px #D0D0D0;
}
.items li:after {
	content:'';
	display:block;
	height:38px;
	margin-bottom:-38px;
	background:url(../images/shadow.png) no-repeat;
	background-size:100% auto;
}
.items img {
	display:block;
	width:480px;
	margin:0 auto;
}
.items h2 {
	font-size: 21px;
	font-family:"微软雅黑";
	margin-bottom: 20px;
	text-align:center;
}