
/* 文章 */
#intro {
	margin: 45px auto;
	padding: 0 25px;
	width:70%;
}
#intro > p {
	line-height: 25px;
	color: rgb(102, 102, 102);
	font-family:"微软雅黑";
	text-indent:2em;
}
.intro_img {
	background:#fff;
	padding:7px;
	font-size: 12px;
	line-height: 22px;
	box-shadow: -1px 0px 1px rgba(0, 0, 0, .04),0px 1px 1px rgba(0, 0, 0, .13),1px 0px 2px rgba(0, 0, 0, .05);
	border-top: 1px solid #e4e4e4;
	border-radius: 2px;
}
.intro_img img {
	width:240px;
}
.intro_img p {
	margin:5px 0 0 0;
	text-align:center;
}
.intro_img.img_left {
	float:left;
	margin-right:10px;
}
.intro_img.img_right {
	float:right;
	margin-left:10px;
}